<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング-->
<mapper namespace="com.user.manegiment.basis.repository.UserMapper">

	<resultMap id="user" type="com.user.manegiment.basis.entity.MasterUser">
		<id column="user_id" property="userId"></id>
		<result column="password" property="password"></result>
		<result column="user_name" property="userName"></result>
		<result column="birthday" property="birthday"></result>
		<result column="age" property="age"></result>
		<result column="gender" property="gender"></result>
		<result column="department_id" property="departmentId"></result>
		<result column="role" property="role"></result>
		<association property="department" resultMap="department"></association>
		<collection property="salaryList" resultMap="salary" columnPrefix="salary_"></collection>
	</resultMap>
	
	<resultMap id="department" type="com.user.manegiment.basis.entity.MasterDepartment">
		<id column="department_id" property="departmentId"></id>
		<result column="department_name" property="departmentName"></result>
	</resultMap>
	
	<resultMap id="salary" type="com.user.manegiment.basis.entity.Salary">
		<id column="user_id" property="userId"></id>
		<id column="year_month" property="yearMonth"></id>
		<result column="salary" property="salary"></result>
	</resultMap>

	<!-- ユーザー一件登録-->
	<insert id="insertOne">
		insert into master_user(
			user_id,
			password,
			user_name,
			birthday,
			age,
			gender,
			department_id,
			role
		)
		values(
			#{masterUser.userId},
			#{masterUser.password},
			#{masterUser.userName},
			#{masterUser.birthday},
			#{masterUser.age},
			#{masterUser.gender},
			#{masterUser.departmentId},
			#{masterUser.role}
		)
	</insert>
	
	
	<!-- ログインユーザー情報取得 -->
	<select id="findLoginUser" resultType="MasterUser">
		select
			*
		from
			master_user
		where
			user_id = #{userId}
	</select>

	<!-- ユーザー複数権取得 -->
	<select id="findMany" resultType="MasterUser">
		select
			*
		from
			master_user
		<where>
			<if test="masterUser.userId != null">
				user_id like  '%' || #{masterUser.userId} || '%'
			</if>
			<if test="masterUser.userName != null">
				and user_name like '%' || #{masterUser.userName} || '%'
			</if>
		</where>
	</select>

	<!-- ユーザー1件取得 -->
	<select id="findOne" resultMap="user">
		select
			master_user.user_id,
			master_user.password,
			master_user.user_name,
			master_user.birthday,
			master_user.age,
			master_user.gender,
			master_department.department_id,
			master_department.department_name,
			salary.user_id as salary_user_id,
			salary.year_month as salary_year_month,
			salary.salary as salary_salary
		from
			master_user
			left join master_department
			on master_user.department_id = master_department.department_id
			left join salary
			on master_user.user_id = salary.user_id
		where
			master_user.user_id = #{userId}
	</select>

	<update id="updateOne">
		update
			master_user
		set
			password = #{masterUser.password},
			user_name = #{masterUser.userName}
		where
			user_id = #{masterUser.userId}
	</update>

	<delete id="deleteOne">
		delete from
			master_user
		where
			user_id = #{userId}
	</delete>


</mapper>
	