<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング-->
<mapper namespace="com.user.manegiment.basis.repository.UserMapper">

	<resultMap id="user" type="com.user.manegiment.basis.entity.MasterUser">
		<id column="user_id" property="userId"></id>
		<result column="password" property="password"></result>
		<result column="user_name" property="userName"></result>
		<result column="birthday" property="birthday"></result>
		<result column="age" property="age"></result>
		<result column="gender" property="gender"></result>
		<result column="department_id" property="departmentId"></result>
		<result column="role" property="role"></result>
	</resultMap>
	
	<!-- ユーザー一件登録-->
	<insert id="insertOne">
		insert into master_user(
			user_id,
			password,
			user_name,
			birthday,
			age,
			gender,
			department_id,
			role
		)
		values(
			#{userId},
			#{password},
			#{userName},
			#{birthday},
			#{age},
			#{gender},
			#{departmentId},
			#{role}
		)
	</insert>

	<!-- ユーザー複数権取得 -->
	<select id="findMany" resultType="MasterUser">
		select
			*
		from
			master_user;
	</select>

	<!-- ユーザー1件取得 -->
	<select id="findOne" resultMap="user">
		select
			*
		from
			master_user
		where
			user_id = #{userId}
	</select>
	
	<update id="updateOne">
		update
			master_user
		set
			password = #{masterUser.password},
			user_name = #{masterUser.userName}
		where
			user_id = #{masterUser.userId}
	</update>
	
	<delete id="deleteOne">
		delete from
			master_user
		where
			user_id = #{userId}
	</delete>


</mapper>
	