<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/list.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>ユーザー詳細</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom">
			<h1 class="h2">ユーザー詳細</h1>
		</div>
		<form id="user-detail-form" class="form-signup"
			th:action="@{/user/detail}" method="post"
			th:object="${userDetailForm}">
			<div th:if=${validationError}>
				<div class="text-danger"
					th:text="${validationError.size()+ '件の不正な値入力があります。'}"></div>
			</div>
			<input type="hidden" th:field="*{userId}">
			<!-- ユーザー詳細 -->
			<table class="table table-striped table-bordered table-hover">
				<tbody>
					<tr>
						<th class="w-25">ユーザーID</th>
						<td th:text="*{userId}"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="text" class="form-control"
							th:field="*{password}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:errors="*{password}"></div></td>
					</tr>
					<tr>
						<th>ユーザー名</th>
						<td><input type="text" class="form-control"
							th:field="*{userName}" th:errorclass="is-invalid">
							<div class="invalid-feedback" th:errors="*{userName}"></div></td>
					</tr>
					<tr>
						<th>誕生日</th>
						<td th:text="*{#dates.format(birthday, 'YYYY/MM/dd')}"></td>
					</tr>
					<tr>
						<th>年齢</th>
						<td th:text="*{age}"></td>
					</tr>
					<tr>
						<th>性別</th>
						<td th:text="*{gender == 1 ? '男性':'女性' }"></td>
					</tr>
					<tr>
						<th>部署</th>
						<td>
							<span th:if="*{department != null}" th:text="*{department.departmentName}">
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<button class="btn btn-primary" type="submit" name="update">更新</button>
				<button class="btn btn-danger" type="submit" name="delete">削除</button>
			</div>
			<!--　給料情報 -->
			<th:block th:if="*{salaryList != null and salaryList.size() > 0}">
				<div class="header border-bottom">
					<h1 class="h2">給料</h1>
				</div>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="w-25">年月</th>
							<th>給料</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="salary: *{salaryList}">
							<td th:text="${salary.yearMonth}"></td>
							<td th:text="${#numbers.formatInteger(salary.salary,3,'COMMA')}"></td>
						</tr>
					</tbody>
				</table>
			</th:block>
		</form>

	</div>
</body>
</html>